# Data Science Libraries
numpy
pandas
matplotlib
seaborn
scikit-learn
scipy
cvxpy
yahooquery
requests
statsmodels
yfinance
datetime
# FastAPI and its dependencies
fastapi
uvicorn[standard]

#supabase stuff
supabase
python-dotenv
